@model DBModel.Course
@{
    ViewBag.Title = "კურსის დამატება";
}
<h2>@ViewBag.Title</h2>
<hr />

@using (Html.BeginForm())
{
<h4>
    <spam>ახალი კურსი :</spam> <br />@Html.TextBoxFor(x => x.Name) <br />
    @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
    <br />
    <input type="submit" placeholder="" class="btn btn-default" value="შევსება" new { style="color:green" } />
    <p class="wrong">@ViewBag.Message</p>
</h4>
}
    <style>
        input {
            margin-top: 22px;
            border: 2px solid;
            height: 35px;
            border-radius: 25px;
            padding-left: 15px;
        }

        spam {
            display: inline-block;
            margin-left: 15px;
        }
        p.wrong1 {
            color: green;
            margin: 5px 0px 0px 0;
            font-size: 13px;
            text-align: center;
        }
        form {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        input.btn.btn-default {
            border: 2px solid black;
            border-radius: 25px;
            color: black;
            font-weight: bold;
        }

        p.wrong {
            color: #bc4442;
            margin: 5px 0px 0px 0;
            font-size: 13px;
            text-align: center;
        }

        input.btn.btn-default {
            width: 291px;
            height: 35px;
            margin-top: 20px;
        }

        spam.surname {
            margin-top: 5px;
        }

        input#Gender {
            position: relative;
            top: 4px;
            left: 12px;
            height: 15px;
        }

        spam.teacher {
            margin-top: 10px;
            margin-bottom: 5px;
        }

        span.text-danger.field-validation-error {
            margin-left: 15px;
            font-size: 13px;
        }


        input#LastName {
            margin-bottom: 0;
        }

        h4 {
            color: black;
            font-weight: bold;
            width: 290px;
        }
    </style>
