@{
    ViewBag.Title = "არაავტორიზებული წვდომა";
}
<h1>@ViewBag.Title</h1>
<br />
@Html.ActionLink("აუთენთიპიკაციის გავლა", "Authentication", "Account")
<br />
@Html.ActionLink("რეგისტრაცისს გავლა", "Registration", "Account")

