@model IEnumerable<DBModel.User>

@{
    ViewBag.Title = "Actions";
}

<h2>Actions</h2>

<table class="table">
    <tr>
        <td>
            @Html.ActionLink("Users", "UserView", "Home")
        </td>

        <td>
            @Html.ActionLink("Teachers", "TeacherView", "Home")
        </td>

        <td>
            @Html.ActionLink("Students", "StudenView", "Home")
        </td>


    </tr>
</table>


